header{
    width: 100%;
    height: 1.5rem;
    background: orange;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: white;
    margin-bottom: 0.2rem;
}

button{
    width: 9rem;
}


ul li{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 10px;
}


ul li img{
    width: 92px;
    height: 92px;
}

