header{
    width: 100%;
    height: 1.5rem;
    background: orange;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: white;
    margin-bottom: 0.2rem;
}




.orders > li{
    width: 100%;
    height: 220px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 10px;
}

.ordergoods li{
    width: 80px;
    height: 80px;
    float: left;
}

ul li img{
    width: 76px;
    height: 76px;
}

