{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/home/home.css' %}">
{% endblock %}

{% block extJS %}
    <script src="{% static 'app/home/home.js' %}"></script>
{% endblock %}
{% block header %}
    <header><div>首页</div></header>
{% endblock %}
{% block content %}
    <div id="home">

        {# 顶部轮播 #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                {% for wheel in wheels %}
                     <div class="swiper-slide">
                         <img src="{{ wheel.img }}">
                     </div>
                {% endfor %}
             </div>
            <div class="swiper-pagination"></div>
        </div>
        {#导航轮播#}
        <div class="topMenu">
            <nav>
                <ul>
                    {% for nav in navs %}
                        <li>
                            <img src="{{ nav.img }}" alt="{{ nav.name }}">
                            <span>{{ nav.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {# 必购轮播 #}
        <div id="swiperMenu">
            <ul class="swiper-wrapper">
               {% for mustbuy in mustbuys %}
                    <li class="swiper-slide">
                        <img src="{{ mustbuy.img }}" alt="">
                    </li>
               {% endfor %}
             </ul>
        </div>
        {# 必shop #}
        <div class="CVS">
            <h2>
                <img src="{{ shop0.img }}" >
            </h2>

            <fieldset>
                {% for shop in shop1_2 %}
                    <a href="#">
                        <img src="{{ shop.img }}" >
                    </a>
                {% endfor %}
            </fieldset>

            <ul>
                {% for shop in shop3_6 %}
                    <li>
                        <img src="{{ shop.img }}" >
                        <span>{{ shop.name }}</span>
                    </li>
                {% endfor %}
            </ul>

            <ol>
                {% for shop in shop7_10 %}
                    <li>
                        <a href="#">
                            <img src="{{ shop.img }}">
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
        {# 主要商品 #}
        <div class="mainInfo">
            {% for mainshow in mainshows %}
                <section>
                    <h3>
                        {{ mainshow.name }}
                        <a href="#">更多&gt;</a>
                        <span></span>
                    </h3>

                    <div>
                        <a href="#">
                            <img src="{{ mainshow.img }}" >
                        </a>
                    </div>

                    <ul>
                        <li>
                            <a href="#">
                                <img src="{{ mainshow.img1 }}" >
                                <p class="description">{{ mainshow.longname1 }}</p>
                                <span> ￥{{ mainshow.price1 }}</span>
                                <s>{{ mainshow.marketprice1 }}</s>
                            </a>
                            <button><span>+</span></button>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{{ mainshow.img2 }}" >
                                <p class="description">{{ mainshow.longname2 }}</p>
                                <span> ￥{{ mainshow.price2 }}</span>
                                <s>{{ mainshow.marketprice2 }}</s>
                            </a>
                            <button><span>+</span></button>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{{ mainshow.img3 }}" >
                                <p class="description">{{ mainshow.longname3 }}</p>
                                <span> ￥{{ mainshow.price3 }}</span>
                                <s>{{ mainshow.marketprice3 }}</s>
                            </a>
                            <button><span>+</span></button>
                        </li>
                    </ul>
                </section>
            {% endfor %}
        </div>

    </div>

{% endblock %}


