header{
    width: 100%;
    height: 1.5rem;
    background: orange;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: white;
    margin-bottom: 0.2rem;
}

button{
    width: 9rem;
}