{% extends 'base_main.html' %}
{% load static %}

{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/cart/cart.css' %}">
{% endblock %}

{% block extJS %}
    <script src="{% static 'app/cart/cart.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="cart">
        <div class="full">
            <section>
                <ul>
                    <li>收货人：zsy</li>
                    <li>电话：119</li>
                    <li>收货地址：西部硅谷</li>
                </ul>

                <div class="bill">
                    <p>闪送超市</p>
                    <a href="#">凑单专区</a>
                    <p>满100减99</p>
                </div>

                <div class="delivery">
                    <span>收货时间：</span>
                    <span>一小时送达</span>
                    <a href="#">可送达&gt;</a>
                </div>

                <div class="delivery">
                    <span>留言：</span>
                    <input type="text" placeholder="有什么特殊需求">
                </div>

                {# 商品信息 #}
                <menu>
                    <ul>
                        {% for cart in carts %}
                            <li class="menuList" cartid="{{ cart.id }}">
                                {#   沟 #}
                                <div class="confirm">
                                    <span class="select">
                                        {% if cart.is_select %}
                                            <span>√</span>
                                        {% else %}
                                            <span></span>
                                        {% endif %}

                                    </span>
                                </div>

                                <a href="#">
                                    <img src="{{ cart.goods.productimg }}" >
                                    <p>{{ cart.goods.productlongname }}</p>
                                    <p>￥<span class="price">{{ cart.goods.price }}</span></p>
                                </a>

                                <button class="delbtn">删除</button>

                                <section>
                                    <button class="reduce">-</button>
                                    <span class="num">{{ cart.num }}</span>
                                    <button class="add">+</button>
                                </section>
                            </li>
                        {% endfor %}

                    </ul>

                    <div class="payTheBill">
                        <div class="confirm">
                            <span id="allselect"><span>√</span></span>
                        </div>
                        <p>全选</p>
                        <p>总价：<span id="totalPrice">0</span></p>
                        <a id="calculate" href="#">结算</a>
                    </div>
                </menu>

            </section>
        </div>
    </div>
{% endblock %}



